<h1>Listing courses</h1>
<%= link_to 'New course', new_course_path %>

<table>
  <tr>
    <th>Number</th>
    <th>Title</th>
    <th>Semester</th>
    <th>Category</th>
    <th>Catalog Link</th>
    <th>Evaluation Link</th>
    <th>Recent Takers</th>
    <th>Notes</th>
    <th></th>
  </tr>

  <% @courses.order("number asc").each do |course| %>
    <tr>
      <td><%=  course.number %></td>
      <td><%=  course.title %></td>
      <td><%=  course.units %></td>
      <td><%=  course.semester %></td>
      <td><%=  course.category %></td>
      <td><%=  course.cataloglink %></td>
      <td><%=  course.evaluationlink %></td>
      <td><%=  course.recenttakers %></td>
      <td><%=  course.notes %></td>
      <td><%=  link_to 'Show', course_path(course) %></td>
      <td><%=  link_to 'Edit', edit_course_path(course) %></td>
      <td><%=  link_to 'Delete', course_path(course), method: :delete, data: { confirm: 'Are you sure you want to delete this class?' } %></td>
    </tr>
  <% end %>
</table>

<div>
  <h4>Import courses!</h4>
  <%= form_tag import_courses_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>